<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="is.hello.puppet" >

    <application
        android:allowBackup="true"
        android:name=".PuppetApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service android:name=".runner.SensePeripheralService"
                 android:exported="false"
                 android:permission="android.permission.BLUETOOTH" />

        <receiver android:name=".runner.TestCommandReceiver"
                  android:enabled="true"
                  android:permission="android.permission.BLUETOOTH">

            <intent-filter android:priority="100">

                <action android:name="is.hello.puppet.ACTION_DISCOVER" />
                <action android:name="is.hello.puppet.ACTION_CONNECT" />
                <action android:name="is.hello.puppet.ACTION_GET_CONNECTION_STATUS" />
                <action android:name="is.hello.puppet.ACTION_SCAN_WIFI" />
                <action android:name="is.hello.puppet.ACTION_CONNECT_WIFI" />
                <action android:name="is.hello.puppet.ACTION_LINK_ACCOUNT" />
                <action android:name="is.hello.puppet.ACTION_PAIR_PILL" />
                <action android:name="is.hello.puppet.ACTION_FACTORY_RESET" />

            </intent-filter>

        </receiver>

    </application>

</manifest>
